@{
    ViewData["Title"] = "Home Page";
}

<div class="centered-container">
    <div class="text-center header-title">
        <h1 class="display-4">CHECK US OUT AND RENT A CAR</h1>
    </div>
    <div class="centered-container">
        <span style="background-color: rgb(255, 255, 255, 0.3)">YOU CAN FIND US HERE.</span>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2964.7866058620193!2d21.40594211616923!3d42.00485506545006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1354144347c06cb9%3A0x8176c642ff09aed6!2z0KTQsNC60YPQu9GC0LXRgiDQt9CwINC10LvQtdC60YLRgNC-0YLQtdGF0L3QuNC60LAg0Lgg0LjQvdGE0L7RgNC80LDRhtC40YHQutC4INGC0LXRhdC90L7Qu9C-0LPQuNC4!5e0!3m2!1smk!2smk!4v1632826751763!5m2!1smk!2smk" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>